<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/test.css">
    <link rel="stylesheet" href="http://192.168.98.25:8080/static/css/navibar.css">
    <link rel="stylesheet" href="http://192.168.98.25:8080/static/css/upload.css">
    <title>Upload</title>
</head>
<body>
    <div class="navbar">
        <a href="auth/login" >時間割</a>
        <a href="/search">授業検索</a>
    </div>


    <div class="container" style="margin-top: 100px;">
        <h3>動画アップロード</h3>
        <form action="/movie_upload" method="POST" enctype="multipart/form-data">
            <label for="class_name">科目名</label>
            <input required type="text" name="class_name" id="class_name" value="<%- class_name%>" placeholder="科目名を入力してください．">

            <label for="lecture_name">講義名:</label>
            <input required type="text" name="lecture_name" id="lecture_name">
    
            <label for="lecture_time">講義回次 (1-15):</label>
            <input required type="number" name="lecture_time" id="lecture_time" min="1" max="15"  value="1">

            <span>
                <select id="day" name="day">
                  <option selected>月</option>
                  <option>火</option>
                  <option>水</option>
                  <option>木</option>
                  <option>金</option>
                </select>
                <label for="day">曜日</label>
                
                <select id="period" name="period">
                  <option selected>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <label for="period">限目</label>
            </span>
            
            <br>
            <label for="movie">アップロードする動画を選択してください</label>
            <input required name="movie" type="file" id="movie" accept="video/mp4,video/x-m4v,video/*"/>
            <input type="submit">
        </form>
        <img id="seesaa_img" src="http://192.168.98.25:8080/static/img/ryukyudog.png" alt="seesaa">
    </div>



    動画を選んでください．<br>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input name="movie" type="file" accept="video/mp4,video/x-m4v,video/*"/>
        <input type="submit" name="sub_buttono" value="Upload">
    </form>
    
</body>
</html>
