<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>user page</title>
    <!-- javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>
<body>
<%- include('./header', {role:role}) %>
<h1 style="padding-left: 100px; width:400px"> <%= userName %> &nbsp;<span style="color: #2b2301;">の時間割</span></h1>
<% if (role) { %>
    <h5 >教師としてログインしています</h5>
<% } else { %>
    <h5 >生徒としてログインしています</h5>
<% } %>  

<p>&nbsp;</p>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <th class="text-center">月曜日</th>
                <th class="text-center">火曜日</th>
                <th class="text-center">水曜日</th>
                <th class="text-center">木曜日</th>
                <th class="text-center">金曜日</th>
            </tr>
        <% for (let i=1; i<8; i++){ %>
            <tr class="text-center">
            <% for (let j=1; j<6; j++){ %>
                <% schedule.forEach(function(sc){ %>
                    <% if(sc.day==j.toString() && sc.period==i.toString()){ %>
                        <td><a href="/search/class/<%- sc.class_name %>"> <%- sc.class_name %></a></td>
                        <% j++ %>
                    <% } %>
                <% }); %>
                <% if (i<8 && j<6) { %>    
                    <td></td>
                <% } %>
            <% }; %>
            </tr>
        <% }; %>
        </table>
    </div>
</div>

</body>
</html>